.button {

    -fx-padding: 10px;
    -fx-min-width: 120px;
    -fx-background-color: #cecece;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 2, 2);
    -fx-font-weight: 100;
    -fx-font-size:  15px;

}